<div class="bday-main container">
  <div class="row">
    <div class="col-9">
      <div class="row bday-title">
        BIRTHDAY REPORT
      </div>
      <div class="row">
        <div class="col-6 bday-subtitle"></div>
        <div class="col-6 bday-pagination"></div>
      </div>
      <div class="row bday-table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Contact</th>
              <th scope="col">Years</th>
              <th scope="col">Date</th>
              <th scope="col">Contact Info</th>
              <th scope="col">User</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of contacts">
                
              </tr>
            </tbody>
        </table>
      </div>

    </div>
    <div class="col-3"></div>
  </div>
</div>